.theme-container {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.ripple-animation::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
    animation: ripple 1s ease-out;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0) translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: scale(100, 100) translate(-50%, -50%);
        opacity: 0;
    }
}